[user]
  email = rnubel@enovafinancial.com
  name = Robert Nubel
  username = rnubel
[alias]
  lg = !git log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset> %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative --color | sed -e 's/>[^a-zA-Z0-9]\\+/> /' | less -SFXR
[color]
  # turn on color
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
[color "branch"]
  current = green bold
  local = white
  remote = red bold
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green bold
  changed = yellow bold
  untracked = white
[color "sh"]
  branch = yellow

